#articles {
  display: inline-block;
  overflow: auto;
}
textarea, input {
  display: block;
  width: 100%;
}
.jumbotron{
  background: none;
  color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
#articleHr {
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  color: black;
  border: 0 none;
  margin-top: 5px;
  margin-bottom:5px;
}
.transbox {
margin: 5%;
padding: 4%;
opacity: 0.6;
background: grey;
filter: alpha(opacity=60); 
}
p {
  color: #000000;
}
#articles {
  float: left;
}
#comments {
  float: right;
}
.bg {
  background-image: url("./img/jumbo.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height: 100%;
  margin: 0;
}