body { background-color: rgb(167, 203, 233) }
#articles {
  display: inline-block;
  overflow: auto;
}
textarea, input {
  display: block;
  width: 100%;
  background-color:white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
#titleHr {
  margin-bottom: 5%;
}
#articleHr {
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  color: black;
  border: 0 none;
  margin-top: 5px;
  margin-bottom:5px;
}
.transbox {
margin: 30px;
background-color: #ffffff;
opacity: 0.6;
filter: alpha(opacity=60); 
}
p {
  color: #000000;
}