#articles {
  display: inline-block;
  overflow: auto;
}
textarea, input {
  display: block;
  width: 100%;
}
.jumbotron{
  background: none;
  color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
#articleHr {
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  color: black;
  border: 0 none;
  margin-top: 5px;
  margin-bottom:5px;
}
#row1 {
padding: 4%;
opacity: 0.6;
background: rgb(123,111,122);
color: white;
font-weight: bold;
width: 100%;
}
p {
  font-weight: bold;
  color: #000000;
}
#articles {
  float: left;
  background: rgb(123,111,122); 
  padding: 5%;
}
#comments {
  float: right;
  font-weight: bold;
  color: #000000;
  background: rgb(123,111,122); 
  padding: 5%;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("./img/jumbo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}
